{{define "diff_unified"}}
{{$oldName := .OldName}}
{{$newName := .NewName}}
<div class="diff-file-header">
  <span class="diff-file-path">{{if $oldName}}{{$oldName}}{{end}}{{if and $oldName $newName}} → {{end}}{{if $newName}}{{$newName}}{{end}}</span>
</div>
<table class="diff-table unified">
  <colgroup>
    <col width="60">
    <col width="60">
    <col width="20">
    <col>
  </colgroup>
  {{range $i, $line := .Lines}}
    {{if eq $line.Type 64}}{{/* '@' */}}
    <tr class="tag-code">
      <td colspan="4" class="lines-code blob-hunk">
        <code class="code-inner">{{$line.Content}}</code>
      </td>
    </tr>
    {{else}}
    <tr class="{{if eq $line.Type 43}}add-code{{else if eq $line.Type 45}}del-code{{else}}same-code{{end}}">
      <td class="lines-num lines-num-old" data-line-num="{{if $line.LeftNum}}{{$line.LeftNum}}{{end}}">
        <span>{{if $line.LeftNum}}{{$line.LeftNum}}{{end}}</span>
      </td>
      <td class="lines-num lines-num-new" data-line-num="{{if $line.RightNum}}{{$line.RightNum}}{{end}}">
        <span>{{if $line.RightNum}}{{$line.RightNum}}{{end}}</span>
      </td>
      <td class="lines-type-marker"><span class="tw-font-mono">{{if eq $line.Type 32}} {{else}}{{$line.Type | printf "%c"}}{{end}}</span></td>
      <td class="chroma lines-code">
        <code class="code-inner">{{$line.Content | safe}}</code>
      </td>
    </tr>
    {{end}}
  {{end}}
</table>
{{end}}
